In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.listdir('data')

['AllNO2_QH.csv',
 'AllPM_QH.csv',
 'Env_QH.csv',
 'GradientTemp_15minDataSet.csv',
 'Patm_15minDataSet.csv',
 'pickles']

In [3]:
df_env = pd.read_csv('data/Env_QH.csv', delimiter=';', encoding='utf-8')
print(len(df_env))
df_env = df_env.rename(columns={'Temp': 'temp', 'RH': 'rh', 'Tgrad': 'tgrad', 'Patm': 'pressure', 'Pluvio':'pluvio'})
df_env.tail()

2486

                     date  temp    rh  tgrad  pressure  pluvio
2481  2017-10-24 06:30:00  16.1  89.5   -0.5    1020.8     0.1
2482  2017-10-24 06:45:00  16.0  90.0   -0.6    1020.8     0.1
2483  2017-10-24 07:00:00  16.1  90.3   -0.6    1020.8     0.0
2484  2017-10-24 07:15:00  16.1  90.3   -0.7    1021.0     0.0
2485  2017-10-24 07:30:00  16.2  90.3   -0.7    1021.1     0.0

In [4]:
df_AllPM = pd.read_csv('data/AllPM_QH.csv', delimiter=';')
df_AllPM = df_AllPM.rename(columns={'ref': 'PM_ref', '#6182': 'PM_6182', '#6179': 'PM_6179', '#617B': 'PM_617B', 'pm2.5#6182': 'PM25_6182', 'pm2.5#6179': 'PM25_6179', 'pm2.5#617B': 'PM25_617B'})
len(df_AllPM)
df_AllPM.tail()
len(np.unique(df_AllPM['PM25_617B']))

820

In [5]:
df_NO2 = pd.read_csv('data/AllNO2_QH.csv', delimiter=";")
df_NO2 = df_NO2.rename(columns={'ref': 'NO2_ref', '#61FD': 'NO2_61FD', '#61F0': 'NO2_61F0', '#61EF': 'NO2_61EF'})
print(len(df_NO2))
df_NO2.head()
len(np.unique(df_NO2['NO2_61FD']))

2468

131

In [6]:
df_env = df_env.set_index('date').T
df_env.head()

date,2017-09-28 10:15:00,2017-09-28 10:30:00,2017-09-28 10:45:00,2017-09-28 11:00:00,2017-09-28 11:15:00,2017-09-28 11:30:00,2017-09-28 11:45:00,2017-09-28 12:00:00,2017-09-28 12:15:00,2017-09-28 12:30:00,...,2017-10-24 05:15:00,2017-10-24 05:30:00,2017-10-24 05:45:00,2017-10-24 06:00:00,2017-10-24 06:15:00,2017-10-24 06:30:00,2017-10-24 06:45:00,2017-10-24 07:00:00,2017-10-24 07:15:00,2017-10-24 07:30:00
temp,20.4,20.6,20.7,21.2,21.5,21.9,22.0,22.1,22.3,23.1,...,15.9,15.9,15.9,15.9,16.0,16.1,16.0,16.1,16.1,16.2
rh,75.7,74.8,74.6,73.2,72.3,71.3,70.0,69.5,69.3,67.9,...,89.5,89.7,89.8,90.2,90.0,89.5,90.0,90.3,90.3,90.3
tgrad,-2.3,-2.4,-2.2,-2.2,-2.6,-2.3,-2.6,-2.5,-2.8,-3.1,...,-0.7,-0.7,-0.7,-0.6,-0.6,-0.5,-0.6,-0.6,-0.7,-0.7
pressure,1019.7,1019.7,1019.7,1019.6,1019.7,1019.7,1019.7,1019.7,1019.6,1019.6,...,1020.6,1020.7,1020.7,1020.7,1020.7,1020.8,1020.8,1020.8,1021.0,1021.1
pluvio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.1,0.1,0.0,0.0,0.0

In [7]:
df_data = pd.concat([df_AllPM, df_NO2[['NO2_ref', 'NO2_61FD', 'NO2_61F0', 'NO2_61EF']]], axis=1)

In [8]:
df_data.head()

,date,PM_ref,PM_6182,PM_6179,PM_617B,PM25_6182,PM25_6179,PM25_617B,NO2_ref,NO2_61FD,NO2_61F0,NO2_61EF
0,2017-09-28 10:15:00,NaN,5.7,8.0,6.8,5.4,7.3,5.9,38.5,1.0,4.1,16.2
1,2017-09-28 10:30:00,NaN,5.9,12.4,9.2,5.6,11.5,8.0,32.3,0.7,9.1,0.0
2,2017-09-28 10:45:00,NaN,6.8,13.2,12.3,6.4,12.1,10.4,38.5,6.1,14.2,4.1
3,2017-09-28 11:00:00,NaN,4.3,10.2,12.7,4.0,9.4,10.7,29.7,0.0,2.0,1.4
4,2017-09-28 11:15:00,NaN,5.3,6.2,9.1,5.0,5.9,7.9,19.4,0.0,6.1,0.0

In [9]:
out_df = pd.DataFrame(columns=['date','PM_ref', 'PM_6182', 'PM_6179', 'PM_617B', 'PM25_6182',\
                               'PM25_6179', 'PM25_617B','NO2_ref', 'NO2_61FD', 'NO2_61F0',\
                               'NO2_61EF', 'temp', 'rh', 'tgrad', 'pressure', 'pluvio'])

for i in range(len(df_data)):
    row = df_data.iloc[i]
    date = row.date
    env = df_env[date]
    out_df.loc[i] = [date, row.PM_ref, row.PM_6182, row.PM_6179, row.PM_617B, row.PM25_6182,\
                     row.PM25_6179, row.PM25_617B, row.NO2_ref, row.NO2_61FD, row.NO2_61F0,\
                     row.NO2_61EF, env.temp, env.rh, env.tgrad, env.pressure, env.pluvio]

In [10]:
out_df.head()

,date,PM_ref,PM_6182,PM_6179,PM_617B,PM25_6182,PM25_6179,PM25_617B,NO2_ref,NO2_61FD,NO2_61F0,NO2_61EF,temp,rh,tgrad,pressure,pluvio
0,2017-09-28 10:15:00,NaN,5.7,8.0,6.8,5.4,7.3,5.9,38.5,1.0,4.1,16.2,20.4,75.7,-2.3,1019.7,0.0
1,2017-09-28 10:30:00,NaN,5.9,12.4,9.2,5.6,11.5,8.0,32.3,0.7,9.1,0.0,20.6,74.8,-2.4,1019.7,0.0
2,2017-09-28 10:45:00,NaN,6.8,13.2,12.3,6.4,12.1,10.4,38.5,6.1,14.2,4.1,20.7,74.6,-2.2,1019.7,0.0
3,2017-09-28 11:00:00,NaN,4.3,10.2,12.7,4.0,9.4,10.7,29.7,0.0,2.0,1.4,21.2,73.2,-2.2,1019.6,0.0
4,2017-09-28 11:15:00,NaN,5.3,6.2,9.1,5.0,5.9,7.9,19.4,0.0,6.1,0.0,21.5,72.3,-2.6,1019.7,0.0

In [11]:
out_df.to_pickle('data/micro_sud3.pkl')

In [12]:
out_df = out_df[pd.notnull(out_df).all(axis=1)]
tmp_df = out_df[['PM_6182', 'PM_6179', 'PM_617B', 'PM25_6182',\
                 'PM25_6179', 'PM25_617B', 'NO2_61FD', 'NO2_61F0',\
                 'NO2_61EF', 'temp', 'rh', 'tgrad', 'pressure', 'pluvio']]
normalized_df = (tmp_df - tmp_df.mean()) / tmp_df.std()
out_df[['PM_6182', 'PM_6179', 'PM_617B', 'PM25_6182',\
         'PM25_6179', 'PM25_617B', 'NO2_61FD', 'NO2_61F0',\
         'NO2_61EF', 'temp', 'rh', 'tgrad', 'pressure', 'pluvio']] = normalized_df

out_df.to_pickle('data/micro_sud3_normalized.pkl')
print(len(np.unique(out_df['NO2_61FD'])))

129

In [13]:
out_df.head()

,date,PM_ref,PM_6182,PM_6179,PM_617B,PM25_6182,PM25_6179,PM25_617B,NO2_ref,NO2_61FD,NO2_61F0,NO2_61EF,temp,rh,tgrad,pressure,pluvio
15,2017-09-28 14:00:00,16.2,-1.178505,-1.137844,-1.134624,-1.183081,-1.128074,-1.148204,10.1,-0.392423,-0.621107,-0.419097,1.986031,-1.114144,-0.922393,0.315942,-0.150524
16,2017-09-28 14:15:00,9.6,-1.108262,-1.085060,-1.121956,-1.101652,-1.071229,-1.128278,9.9,-0.392423,-0.621107,-0.419097,2.057032,-1.123212,-0.977185,0.335134,-0.150524
17,2017-09-28 14:30:00,10.3,-1.178505,-1.169515,-1.257077,-1.176817,-1.167865,-1.252817,16.1,-0.392423,-0.621107,-0.419097,2.080699,-1.232038,-1.086769,0.315942,-0.150524
18,2017-09-28 14:45:00,9.4,-1.137530,-1.000606,-1.206407,-1.139235,-1.008700,-1.222928,10.9,-0.392423,-0.621107,-0.419097,2.009698,-1.259245,-0.812809,0.315942,-0.150524
19,2017-09-28 15:00:00,10.7,-1.166798,-1.164236,-1.138846,-1.164290,-1.167865,-1.148204,16.0,-0.392423,-0.621107,-0.419097,1.867697,-1.141350,-0.922393,0.315942,-0.150524